// Global styles

*, *:before, *:after {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: $color-background;
  color: $color-grey;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-grey;

  &:hover {
    color: $color-grey-dark;
  }
}


// Utility classes

.center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}


// Site container and wrapper

.site-wrapper {
  padding: 0 2rem;
  margin: 0 auto;
  @include clearfix;
}

.site-wrapper--small {

  @include mq(medium) {
    width: 75%;
  }

  @include mq(large) {
    width: 50%;
  }
}

.site-wrapper--medium {

  @include mq(medium) {
    width: 85%;
  }

  @include mq(large) {
    width: 65%;
  }
}

.site-container {
  margin: 0 auto;
  @include clearfix;

  @include mq(medium) {
    margin: 1rem auto;
    max-width: 1400px;
    padding: 0 2rem;
  }
}
