// Grid

$gutter: 1rem;

.row {
  margin: 0 (-$gutter);
  @include clearfix;
}

.col {
  padding: 0 $gutter;
}

@include mq(medium) {

  .col {
    float: left;
  }

  .col--half,
  .col--quarter,
  .col--third {
    width: 50%;
  }

}

@include mq(large) {

  .col--quarter {
    width: 25%;
  }

  .col--third {
    width: (100% / 3);
  }

}