// Footer styles

.main-footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 90%;
  background-color: #fff;
  line-height: 1.7; // Sufficient line height if the navigation elements wrap

  @include mq(medium) {
    background-color: $color-background;
  }

  @include mq(large) {
    text-align: left;
  }
}

.main-footer__social {
  display: inline-block;

  @include mq(large) {
    float: right;
  }
}

.main-footer__social__link {
  margin-left: 1rem;

  &:first-child {
    margin: 0;
  }

  &:hover .icon {
    opacity: 0.8;
  }

  .icon {
    margin-right: 0.3rem;
    opacity: 0.65;
    position: relative;
    top: 2px;
  }
}

.main-footer__items {
  margin-bottom: 1rem;

  > li {
    display: inline-block;
    margin-left: 1rem;

    &:first-child {
      margin: 0;
    }
  }

  @include mq(large) {
    float: left;
  }

}
