// Main navigation

.main-navigation {
  padding: 2rem 0;
  text-align: center;
  background-color: #fff;
  line-height: 1.7; // Sufficient line height if the navigation elements wrap

  @include mq(medium) {
    background-color: $color-background;
  }

  @include mq(large) {
    height: 80px;
    line-height: 80px;
    padding: 0;
    text-align: left;
  }

  .logo {
    margin-bottom: 1rem;

    @include mq(large) {
      margin-top: 26px;
      float: left;
    }
  }
}

.logo {
  width: 104px;
  height: 28px;
  fill: $color-grey-dark;

  &:hover .logo__mark {
    fill: $color-purple;

    [class*="group"] &, {
      fill: $color-blue;
    }
  }

  .logo__mark,
  .logo__type {
    @include transition(all $time $curve);
  }
}

.main-navigation__items {

  > li {
    display: inline-block;
    margin-left: 0.5rem;

    @include mq(medium) {
      margin-left: 1rem;
    }

    &:first-child {
      margin: 0;
    }

    a.active {
      color: $color-grey-dark;
    }
  }

  @include mq(large) {
    float: right;
  }

}
