// Main navigation

.main-navigation {
  padding: 2rem 0;
  text-align: center;
  background-color: #fff;

  @include mq(medium) {
    background-color: $color-background;
  }

  @include mq(large) {
    height: 80px;
    line-height: 80px;
    padding: 0;
    text-align: left;
  }

  .logo {
    width: 104px;
    height: 28px;
    margin-bottom: 1rem;
    fill: $color-grey-dark;

    @include mq(large) {
      margin-top: 26px;
      float: left;
    }
  }
}

.main-navigation__items {

  > li {
    display: inline-block;
    margin-left: 0.5rem;

    @include mq(medium) {
      margin-left: 1rem;
    }

    &:first-child {
      margin: 0;
    }

    a.active {
      color: $color-grey-dark;
    }
  }

  @include mq(large) {
    float: right;
  }

}
