.section {
  padding: 4rem 0;
  background-color: #fff;

  @include mq(medium) {
    padding: 5rem 0;
  }

  @include mq(large) {
    padding: 7rem 0;
  }
}

.section--border {
  border-bottom: 1px solid $color-border;
}

.section--cta {
  display: block;
  position: relative;
  background-color: $color-grey-dark;
  overflow: hidden;

  &:hover .section--cta__image {
    opacity: 0.1;
    @include transform(scale(1.05));
  }
}

.section--cta__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background-image: url("/images/photo.jpg");
  background-position: center center;
  background-size: cover;
  @include transition(all $time $curve);
}

.section--cta__content {
  position: relative;
  z-index: 999;

  h2 {
    color: #fff;
  }

  p {
    color: rgba(#fff, 0.7);
  }
}