.section {
  padding: 4rem 0;
  background-color: #fff;

  @include mq(medium) {
    padding: 5rem 0;
  }

  @include mq(large) {
    padding: 6rem 0;
  }
}

.section--border {
  border-bottom: 1px solid $color-border;
}

.section--cta {
  display: block;
  background-color: lighten($color-grey-dark, 5%);

  h2 {
    color: #fff;
  }
}