<a href="#" class="section section--cta center">
  <div class="site-wrapper site-wrapper--small">
    <h2>Contact us</h2>
    <p>info@studioprestige.ca<br>
    (450) 493-3893<br>
    adresse</p>
  </div>
</a>