<footer class="main-footer">
  <div class="site-wrapper">
  <span class="main-footer__copyright">© 2015 Studio Prestige</span>
    <ul class="main-footer__items">
      <% data.menuElements.top.each do |menuElement| %>
        <li><a href="<%= menuElement.href %>"<%= (current_page.path.split('.')[0] == menuElement.href[1..-1] ? ' class="active"' : '') %>><%= menuElement.title %></a></li>
      <% end %>
    </ul>
  </div>
</footer>
