---
heading: About
---

<section class="section section--border center wow animated fade-in-up">
  <div class="site-wrapper site-wrapper--medium">
    <h2><%= t "about.title" %></h2>
    <p class="large"><%= t "about.intro" %></p>
  </div>
</section>

<section class="section border center wow animated fade-in-up">
  <div class="site-wrapper site-wrapper--medium">
    <h2><%= t "about.courses" %></h2>
  </div>
</section>
