---
heading: Services
---

<section class="section section--border center">
  <div class="site-wrapper site-wrapper--small">
    <h2>Registration</h2>
    <p>Simply fill out the form below to register for one of our classes.</p>
    <form action="#">
      <input class="field-input" type="text" placeholder="Name" name="name">
      <input class="field-input" type="email" placeholder="Email" name="email">
      <input class="field-input field-input--file" type="file" name="file">
      <button class="field-input field-input--button">Send message</button>
    </form>
  </div>
</section>

<section class="section center">
  <div class="site-wrapper site-wrapper--medium">
    <h2>Schedule</h2>

    <div class="schedule-day">
      <h3>Monday</h3>
      <div class="schedule-line">
        <div class="schedule-line__event">Rap</div>
        <div class="schedule-line__time">18:30 - 19:15</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Releve</div>
        <div class="schedule-line__time">19:15 - 21:15</div>
      </div>
    </div>

    <div class="schedule-day">
      <h3>Tuesday</h3>
      <div class="schedule-line">
        <div class="schedule-line__event">Mise en forme</div>
        <div class="schedule-line__time">17:15 - 19:00</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Zumba</div>
        <div class="schedule-line__time">19:00 - 20:00</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Lyrique/contemp.</div>
        <div class="schedule-line__time">20:00 - 21:00</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">HipHop Ado.</div>
        <div class="schedule-line__time">21:00 - 22:00</div>
      </div>
    </div>

  </div>
</section>
