---
heading: Services
---

<section class="section section--border center">
  <div class="site-wrapper site-wrapper--small">
    <h2>Registration</h2>
    <p>Simply fill out the form below to register for one of our classes.</p>
    <form action="#">
      <input class="field-input" type="text" placeholder="Name" name="name">
      <input class="field-input" type="email" placeholder="Email" name="email">
      <input class="field-input field-input--file" type="file" name="file">
      <button class="field-input field-input--button">Send message</button>
    </form>
  </div>
</section>

<section class="section center">
  <div class="site-wrapper">
    <h2>Schedule</h2>
    <table>
      <tr>
        <th></th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <tr>
        <td></td>
        <td>Test</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</section>
