.btn {
  display: inline-block;
  color: $color-grey-dark;
  @include transition(all $time $curve);
  @extend h3;

  .icon--arrow {
    margin-left: 0.5rem;
    position: relative;
    top: -1px;
  }

  &:hover .icon--arrow {
    transform: translate3d(5px, 0, 0);
  }
}

.btn--white {
  padding: 1rem 2rem;
  color: #fff;
  border: 1px solid rgba(#fff, 0.3);

  &:hover {
    color: #fff;
    border-color: #fff;
  }
}
