// Icon mixin

@mixin icon($filename, $width, $height) {
  background-image: image-url('icons/#{$filename}.svg');
  background-repeat: no-repeat;
  width: $width;
  height: $height;
  background-size: $width $height;
  background-position: center center;
}


// Generic icon class

.icon {
  display: inline-block;
  background-position: center center;
  @include hide-text;
}


// Social icons

.icon--facebook {
  @include icon(facebook, 16px, 16px);
}

.icon--instagram {
  @include icon(instagram, 16px, 16px);
}
