// Icon mixin

@mixin icon($filename, $width, $height) {
  background-image: image-url('icons/#{$filename}.svg');
  background-repeat: no-repeat;
  width: $width;
  height: $height;
  background-size: $width $height;
}


// Generic icon class

.icon {
  display: inline-block;
  background-position: center center;
  @include hide-text;
}


// Arrow icon

.icon--arrow {
  @include transition(all $time $curve);
  @include icon(arrow-purple, 12px, 7px);
}