.listing {
  display: block;
  background-size: cover;
}

.listing__wrapper {
  height: 500px;
  position: relative;

  @include mq(large) {
    height: 600px;
  }
}

.listing__content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  background-color: #fff;
  padding: 2rem;

  @include mq(medium) {
    width: 400px;
    right: auto;

    .listing--alt & {
      left: auto;
      right: 2rem;
    }
  }

  @include mq(large) {
    width: 300px;
  }

  h3 {
    margin: 0 0 1rem 0;
  }
}