// Schedule

.schedule-day {
  margin-bottom: 2rem;

  @include mq(large) {
    margin-bottom: 4rem;
  }
}

.schedule-line {
  padding: 1rem 0;
  border-bottom: 1px solid $color-border;
  @include clearfix;

  &:last-child {
    border: 0;
  }
}

.schedule-line__event {
  width: 65%;
  float: left;
  text-align: left;
  color: $color-grey-dark;
}

.schedule-line__time {
  width: 35%;
  float: right;
  text-align: right;
}
