// Schedule

.schedule-day {
  margin-bottom: 2rem;

  @include mq(large) {
    margin-bottom: 4rem;
  }
}

.schedule-line {
  padding: 1rem 0;
  border-bottom: 1px solid $color-border;
  @include clearfix;
}

.schedule-line__event {
  float: left;
  color: $color-grey-dark;
}

.schedule-line__time {
  float: right;
}
