// Color Variables

$color-purple: #713A97;
$color-blue: #4389AF;

$color-grey: #666;
$color-grey-dark: #222;
$color-grey-light: #999;

$color-background: #f2f2f2;
$color-border: #ddd;

$color-input: #eee;


// Media Queries

@mixin mq($size) {
   @if $size == large {
     @media (min-width: $large) { @content ; }
  }
    @else if $size == medium {
     @media (min-width: $medium) { @content ; }
  }
}

$medium: 650px;
$large: 1000px;


// Animations

$time: 0.2s;
$curve: ease-in-out;
