---
heading: About
---

<section class="section section--border center">
  <div class="site-wrapper site-wrapper--small">
    <h2>Schedule</h2>
    <p>Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
  </div>
</section>

<section class="section center">
  <div class="site-wrapper site-wrapper--small">
    <h2>Title</h2>
    <p>Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
  </div>
</section>
