<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Studio Prestige</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_tag '/favicon.png' %>
    <%= stylesheet_link_tag "main" %>

  </head>
  <body>

    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section class="index">
      <a href="/left/about/" class="index__section index__section--purple">
        <div class="index__section__content">
          <h3>Left</h3>
          <h1>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</h1>
          <span class="btn btn--white">Learn More</span>
        </div>
        <div class="index__section__image"></div>
      </a>
      <a href="#" class="index__section index__section--blue">
        <div class="index__section__content">
          <h3>Right</h3>
          <h1>Nulla vitae elit libero, a pharetra augue magna etiam egestas cras.</h1>
          <span class="btn btn--white">Learn More</span>
        </div>
        <div class="index__section__image"></div>
      </a>
    </section>

    <%= partial :ga %>
    <%= javascript_include_tag 'main' %>

  </body>
</html>
