---
heading: Gallery
---

<section class="section center wow animated fade-in-up">
  <div class="site-wrapper">
    <div class="gallery">
    </div>
  </div>
</section>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'gallery' %>
<% end %>