---
heading: About
---

<section class="section section--border center wow animated fade-in-up">
  <div class="site-wrapper site-wrapper--medium">
    <h2><%= t "group.about.title" %></h2>
    <p><%= t "group.about.description" %></p>
  </div>
</section>

<section class="section border center wow animated fade-in-up">
  <div class="site-wrapper site-wrapper--small">
    <h2><%= t "group.about.title" %></h2>
    <p><%= t "group.about.description" %></p>
  </div>
</section>
